{% extends 'base.html' %}
{% block content %}
<main class="container">
    <div class="bg-white p-2 rounded mt-5">
        <div class="row mb-3">
            <p class="fs-2">Reset Password</p>
        </div>
        <div class="row mb-4">
            <p class="fs-4">Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
        </div>
        <div class="row">
            <form method="POST">
                <div class="col-md-6">
                    {% csrf_token %}
                    {{ password_reset_form }}
                    {{ form }}
                </div>
                <button type="submit" class="btn btn-primary mb-5">Send email</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}
