{% extends 'base.html' %}
{% block content %}
<main class="container">
    <div class="bg-white p-2 rounded mt-5">
        <div class="row mb-3">
            <p class="fs-2">Password reset complete</p>
        </div>
        <div class="row mb-4">
            <p class="fs-4">Your password has been set. You may go ahead and log in now.</p>
        </div>
        <div class="row mb-4">
            <a href="/login" class="btn btn-primary stretched-link">Log in</a>
        </div>
    </div>
</main>
{% endblock %}
