{% extends 'base.html' %}
{% block content %}
<main class="container">
    <div class="bg-white p-2 rounded mt-5">
        <div class="row mb-3">
            <p class="fs-2">Password Reset Confirm</p>
        </div>
        <div class="row mb-2">
            <p class="fs-4">Please enter your new password.</p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <ul>
                    <li>
                        Your information can't be too similar to your other personal information.
                    </li>
                    <li>
                        Your password must contain at least 8 characters.
                    </li>
                    <li>
                        Your password can't be a commonly used password.
                    </li>
                    <li>
                        Your password can't be entirely numeric.
                    </li>
                </ul>
            </div>
            <form method="POST">
                <div class="col-md-6 mb-2">
                    {% csrf_token %}
                    {{ form }}
                </div>
                <button type="submit" class="btn btn-primary mb-5">Reset password</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}
