{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="about-section">
  <h1>About Us</h1>
    <p>People love cereal and will always do! That is why we have created a website where people can buy a variety of cereal.</p>
    <p>Our store contains cereal from Cheerios to Cap'n Crunch!
        <p>Our mission is to create the best online cereal store there is.</p>


</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="{% static 'images/employee.jpeg' %}" alt="Arnar"  style="max-width: 130px;">
      <div class="container">
        <h2>Arnar Már Kristinsson</h2>
        <p class="title">CEO </p>
        <p>Chief Executive Officer</p>
        <p>arnar@shipocereal.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
       <img src="{% static 'images/employee.jpeg' %}" alt="Hildur"  style="max-width: 130px;">
      <div class="container">
        <h2>Hildur Guðrún Bragadóttir</h2>
        <p class="title">COO</p>
        <p>Chief Operating Officer</p>
        <p>hildur@shipocereal.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
       <img src="{% static 'images/employee.jpeg' %}" alt="Kinga"  style="max-width: 130px;">
      <div class="container">
        <h2>Kinga Maria Rozanska</h2>
        <p class="title">CFO</p>
        <p>Chief Financial Officer</p>
        <p>kinga@shipocereal.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
  <div class="column">
    <div class="card">
        <img src="{% static 'images/employee.jpeg' %}" alt="Stefán"  style="max-width: 130px;">
      <div class="container">
        <h2>Stefán Laxdal</h2>
        <p class="title">CMO</p>
        <p>Chief Marketing Officer</p>
        <p>stefan@shipocereal.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

