{% extends 'base.html' %}
{% block content %}
    <main class="container">
        <div class="bg-white p-4 rounded">
            <p class="fs-1">Our top products</p>
            <p class="lead col-10">Cereal, often called breakfast cereal, is a traditional breakfast food made from processed cereal grains. It is traditionally eaten as part of a balanced breakfast, or a snack food.</p>
            <a class="btn btn-lg btn-outline-primary" href="{% url 'products' 'cereal' %}" role="button">View products &raquo;</a>
            <div class="row row-cols-1 row-cols-md-4 mt-2 g-4">
                {% for product in top_products %}
                <div class="col">
                    <div class="shadow-sm card p-2" class="text-decoration-none">
                        <img src="{{ product.img }}" class="card-img-top" alt="..." width="150">
                        <div class="card-body text-center">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <p class="card-text">Price: ${{ product.price }}</p>
                        <a href="{% url 'product' product.id %}" class="btn btn-primary" class="stretched-link">View product</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}