{% extends 'base.html' %}
{% block content %}
{% load static %}
<main class="container">
    <div class="bg-white p-2 rounded">
        <div class="row">
            <div class="col-md-6 mt-4">
                <div id="productCarousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#productCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        {% for pic in pictures %}
                        <button type="button" data-bs-target="#productCarousel" data-bs-slide-to="{{forloop.counter}}" aria-label="Slide {{forloop.counter}}"></button>
                        {% endfor %}
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <img src="{{ main_picture.photo.url }}" class="d-block w-100" alt="Product">
                        </div>
                        {% for pic in pictures %}
                        <div class="carousel-item" data-bs-interval="10000">
                            <img src="{{ pic.photo.url }}" class="d-block w-100" alt="Product">
                        </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    </div>
                <div class="row col-md-10 offset-md-1 mt-4">
                    <a href="#" class="text-decoration-none col-md-3 p-0" data-bs-target="#productCarousel" data-bs-slide-to="0" id="altPic1">
                        <img src="{{ main_picture.photo.url }}" alt="Product" class="img-fluid" style="width: auto; min-height:100px; max-height: 100px;">
                    </a>
                    {% for pic in pictures %}
                    <a href="#" class="text-decoration-none col-md-3 p-0" data-bs-target="#productCarousel" data-bs-slide-to="{{forloop.counter}}" id="altPic1">
                        <img src="{{ pic.photo.url }}" alt="Product" class="img-fluid" style="width: auto; min-height:100px; max-height: 100px;">
                    </a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-6 mt-4">
                <p class="fs-2 fw-bold">{{ product.name }}</p>
                <div class="row mt-2 mb-2">
                    <div class="col-md-4">
                        <span class="badge rounded-pill bg-primary fs-6">Sugary</span>
                        <span class="badge rounded-pill bg-primary fs-6">Fibery</span>
                    </div>
                </div>
                <div class="row mt-2">
                    <p class="fs-4">{{ product.description }}</p>
                </div>
                <div class="row mt-5">
                    <p class="fs-4">${{ product.price }}</p>
                </div>
                <div class="row">
                    <form method="POST">
                        {% csrf_token %}
                        <button type="submit" class="col-md-5 offset-md-4 btn btn-primary mt-5" id="add-to-cart-btn">Add to cart</button>
                    </form>
                </div>
            </div>
        </div>
        {% for message in messages %}
            <p id="messages">{{message}}</p>
        {% endfor %}
    </div>

</main>
{% endblock %}