{% extends 'base.html' %}

{% block content %}
    <main class="container">
{#        TOPBAR#}
        <div class="bg-white p-4 rounded">
            <div class="row">
                <form class="col-md-8 d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search for products" aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
                <div class="col-md-2"></div>
                <div class="col-md-2 dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="order-dropdown" data-bs-toggle="dropdown" aria-expanded="false">Order by: </button>
                    <ul class="dropdown-menu" aria-labelledby="order-dropdown">
                        <li><button class="dropdown-item" type="button" id="order-price-asc-btn">Order by price asc.</button></li>
                        <li><button class="dropdown-item" type="button" id="order-price-desc-btn">Order by price desc.</button></li>
                        <li><button class="dropdown-item" type="button" id="order-name-asc-btn">Order by name asc.</button></li>
                        <li><button class="dropdown-item" type="button" id="order-name-desc-btn">Order by name desc.</button></li>
                    </ul>
                </div>
            </div>
{#            SIDEBAR#}
            <div class="row row-cols-1 row-cols-md-5 mt-2 g-4">
                <div class="card">
                    <article class="card-group-item">
                        <div class="card-header bg-transparent border-warning">Price</div>
                        <div class="filter-content">
                            <div class="card-body">
                                <label class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadio" value="">
                                    <span class="form-check-label">$9.99-$19.99</span>
                                </label>
                                <label class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadio" value="">
                                    <span class="form-check-label">$19.99-$29.99</span>
                                </label>
                                <label class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadio" value="">
                                    <span class="form-check-label">$29.99-$39.99</span>
                                </label>
                                <label class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadio" value="">
                                    <span class="form-check-label">$39.99 and above</span>
                                </label>
                            </div> <!-- card-body.// -->
                        </div>
                    </article> <!-- card-group-item.// -->
                    <article class="card-group-item">
                        <div class="card-header bg-transparent border-warning">Cereal</div>
                        <div class="filter-content">
                            <div class="card-body">
                            <form>
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-label">Fibery</span>
                                </label> <!-- form-check.// -->
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-label">Gluten Free</span>
                                </label> <!-- form-check.// -->
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-label">Healthy</span>
                                </label>  <!-- form-check.// -->
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-label">Multigrain</span>
                                </label>  <!-- form-check.// -->
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-label">Sugary</span>
                                </label>  <!-- form-check.// -->
                            </form>

                            </div> <!-- card-body.// -->
                        </div>
                    </article> <!-- card-group-item.// -->
                    <article class="card-group-item">
                        <div class="card-header bg-transparent border-warning">Merchandise</div>
                        <div class="filter-content">
                            <div class="card-body">
                            <form>
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-label">Accessories</span>
                                </label> <!-- form-check.// -->
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-label">Bowls</span>
                                </label>  <!-- form-check.// -->
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-label">Clothing</span>
                                </label>  <!-- form-check.// -->
                            </form>

                            </div> <!-- card-body.// -->
                        </div>
                    </article> <!-- card-group-item.// -->
                </div> <!-- card.// -->
{#                ENDOFSIDEBAR#}
{#                PRODUCT CARDS #}
                {% for product in products %}
                <div class="col">
                    <div class="shadow-sm card p-2">
                        <img src="{{product.img.photo.url}}" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">Price: ${{ product.price }}</p>
                        <a href="../cart/cart.html" class="btn btn-primary">Add to cart</a>
                        <a href="../product/product.html" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>


{% endblock %}