{% extends 'base.html' %}
{% load static %}
{% block content %}
    <script>
        const CSRF_TOKEN = '{{ csrf_token }}';
    </script>

    <main class="container">
        {% for message in messages %}
            <p id="messages">{{message}}</p>
        {% endfor %}
        <div class="bg-white p-4 rounded">
            <div class="row">
                <form class="col-md-8 d-flex p-0 me-3">
{#                    <input class="form-control" type="search" placeholder="Search for products" aria-label="Search">#}
                    {{ product_filter.form.name }}
                    <button class="btn btn-outline-primary ms-3 rounded-pill" type="submit">Search</button>
                </form>
                <div class="col-md-2 offset-md-1 dropdown">
                    <button class="btn btn-primary dropdown-toggle rounded-pill" type="button" id="order-dropdown" data-bs-toggle="dropdown" aria-expanded="false">Order by: </button>
                    <ul class="dropdown-menu" aria-labelledby="order-dropdown">
                        <li><button class="dropdown-item order-by-button" name="price-asc" type="button" id="order-price-asc-btn">Order by price asc.</button></li>
                        <li><button class="dropdown-item order-by-button" name="price-desc" type="button" id="order-price-desc-btn">Order by price desc.</button></li>
                        <li><button class="dropdown-item order-by-button" name="name-asc" type="button" id="order-name-asc-btn">Order by name asc.</button></li>
                        <li><button class="dropdown-item order-by-button" name="name-desc" type="button" id="order-name-desc-btn">Order by name desc.</button></li>
                    </ul>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-5 mt-2 g-4">
                <div class="card" style="max-height: 700px;">
                    <article class="card-group-item">
                        <div class="card-header bg-transparent border-warning">Price</div>
                        <div class="filter-content">
                            <div class="card-body">
                                <label class="form-check">
                                    <input class="form-check-input price-by-button" name="10-20" type="radio" value="">
                                    <label class="form-check-label" for="10-20">$9.99-$19.99</label>
                                </label>
                                <label class="form-check">
                                    <input class="form-check-input price-by-button" name="20-30" type="radio" value="">
                                    <label class="form-check-label" for="20-30">$19.99-$29.99</label>
                                </label>
                                <label class="form-check">
                                    <input class="form-check-input price-by-button" name="30-40" type="radio" value="">
                                    <label class="form-check-label" for="30-40">$29.99-$39.99</label>
                                </label>
                                <label class="form-check">
                                    <input class="form-check-input price-by-button" name="40-9999" type="radio" value="">
                                    <label class="form-check-label" for="40-9999">$39.99 and above</label>
                                </label>
                            </div>
                        </div>
                    </article>
                    <article class="card-group-item">
                        <div id="keyword-container" class="card-header bg-transparent border-warning">Filter</div>
                        <div class="filter-content">
                            <div class="card-body">
                            <form id="keyword-container">

                            </form>

                            </div>
                        </div>
                    </article>
                </div>
                <div class="row row-cols-md-4 col-md-9 g-4" id="product-card-container">
                    {% for product in products %}
                    <div class="col mt-0 mb-3">
                        <div class="shadow-sm card h-100 p-3 text-center text-decoration-none">
                            <img src="{{product.img}}" class="card-img-top mx-auto" alt="..." style="width: auto; max-height: 150px">
                            <div class="card-body">
                                <h5 class="card-title">{{product.name }}</h5>
                                <p class="card-text">Price: ${{product.price}}</p>
                            </div>
                            <div class="card-footer-white text-center mb-2">
                                <a href="{% url 'product' product.id %}" class="btn btn-primary stretched-link">View product</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="row col-md-5 offset-md-2 mt-2">
                    <div class="pagination ms-5 fs-6">
                        <span class="step-links">
                            {% if products.has_previous %}
                                <a href="?page=1" class="btn btn-outline-primary rounded-pill">&laquo; First</a>
                                <a href="?page={{ products.previous_page_number }}" class="btn btn-outline-primary ms-2 rounded-pill">Previous</a>
                            {% endif %}
    
                            <span class="current">
                                Page {{ products.number }} of {{ products.paginator.num_pages }}.
                            </span>
    
                            {% if products.has_next %}
                                <a href="?page={{ products.next_page_number }}" class="btn btn-outline-primary rounded-pill">Next</a>
                                <a href="?page={{ products.paginator.num_pages }}" class="btn btn-outline-primary ms-2 rounded-pill">Last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{% static './js/product_page_filters.js' %}"></script>


{% endblock %}
