{% extends 'base.html' %}
{% load static %}
{% block content %}

<main class="container">
    <div id="page-1">
        <div class="bg-white p-2 rounded">
            <div class="row">
                <div class="col-md-12">
                    <p class="fs-2">Enter contact information</p>
                </div>
            </div>
            <form method="POST">
                {% csrf_token %}
            <div class="row row-cols-1 row-cols-md-5 mt-2 g-4">
                <div class="row row-cols-md-1 col-md-8 me-2" id="contact-info-container">
                    <div class="shadow-sm card mb-3 p-2">
                        <div class="row col-md-10 offset-md-1 fw-bold mt-3">
                            <label for="inputName" class="form-label">Name</label>
{#                            <input type="text" id="inputName-1" class="form-control form-control-lg mb-4" placeholder="Enter your full name">#}
                            {{ form.name }}
                        </div>
                        <div class="row col-md-10 offset-md-1 fw-bold">
                            <label for="inputStreetName" class="form-label">Street Name</label>
{#                            <input type="text" id="inputStreetName-1" class="form-control form-control-lg mb-4" placeholder="Enter your street name">#}
                            {{ form.street_name }}
                        </div>
                        <div class="row col-md-10 offset-md-1 fw-bold">
                            <label for="inputHouseNr" class="form-label">House Number</label>
{#                            <input type="text" id="inputStreetName" class="form-control form-control-lg mb-4" placeholder="Enter your house number">#}
                                {{ form.house_number }}
                        </div>
                        <div class="row col-md-12">
                            <div class="col-md-5 offset-md-1">
                                <label for="inputCity" class="form-label fw-bold ms-3">City</label>
{#                                <input type="text" id="inputCity" class="form-control form-control-lg mb-4" placeholder="Enter your house number">#}
                                {{ form.city }}
                            </div>
                            <div class="col-md-5">
                                <label for="inputPostal" class="form-label fw-bold ms-3">Postal Code</label>
{#                                <input type="text" id="inputPostal" class="form-control form-control-lg mb-4" placeholder="Enter your ZIP code">#}
                                {{ form.postal_code }}
                            </div>
                        </div>
                        <div class="row col-md-10 offset-md-1 fw-bold">
                            <label for="selectCountry" class="form-label fw-bold">Country</label>
{#                                <select class="form-select form-select-lg" id="selectCountry"aria-label=".form-select-lg example">#}
{#                                    <option selected>Select</option>#}
{#                                    <option value="1">Iceland</option>#}
{#                                    <option value="2">UK</option>#}
{#                                    <option value="3">USA</option>#}
{#                                </select>#}
                            {{ form.country }}
                        </div>
                        <div class="row col-md-10 offset-md-1 mb-4 mt-4">
                            <a href="#" class="btn btn-primary btn-lg" id="order-next-button">
                                Proceed to Payment Information
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-credit-card-2-back ms-2 mb-1" viewBox="0 0 16 16">
                                    <path d="M11 5.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1z"/>
                                    <path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2zm13 2v5H1V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1zm-1 9H2a1 1 0 0 1-1-1v-1h14v1a1 1 0 0 1-1 1z"/>
                                  </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card col-md-4 mb-0 mt-0" style="max-height: 400px;">
                    <div class="card-header bg-transparent border-warning fs-4 fw-bold">ORDER SUMMARY</div>
                    <div class="card-body">
                        <div class="card bg-light p-2">
                            <p class="card-text mb-2 mt-2 fs-4">{{ cart_info.count }} Product(s)</p>
                            <div class="card-header bg-transparent border-warning"></div>
                            <p class="card-text mb-2 mt-2 fs-4">Delivery: FREE</p>
                            <div class="card-header bg-transparent border-warning"></div>
                            <p class="card-text mb-2 mt-4 fs-4 fw-bold">Total: ${{ cart_info.price }}</p>
                        </div>
                        <p class="card-text mt-3">
                            <small class="text-muted">
                                Lucky you!
                                In the month of May, we are offering free delivery on all of our products.
                                Enjoy your delicious cereal free of worries!
                            </small>
                        </p>
                    </div> <!-- card-body.// -->
                </div> <!-- card.// -->
            </div>
        </div>
    </div>
    <div id="page-2">
        <div class="bg-white p-2 rounded">
            <div class="row">
                <div class="col-md-12">
                    <p class="fs-2">Enter payment information</p>
                </div>
            </div>

            <div class="row row-cols-1 row-cols-md-5 mt-2 g-4">
                <div class="row row-cols-md-1 col-md-8 me-2" id="contact-info-container">
                    <div class="shadow-sm card mb-3 p-2">
                        <div class="row col-md-10 offset-md-1 fw-bold mt-3">
                            <label for="inputCardholderName" class="form-label">Cardholder Name</label>
{#                            <input type="text" id="inputName" class="form-control form-control-lg mb-4" placeholder="Enter the name of the cardholder">#}
                                {{ form.name_of_cardholder }}
                        </div>
                        <div class="row col-md-10 offset-md-1 fw-bold">
                            <label for="inputCardNr" class="form-label">Card Number</label>
{#                            <input type="text" id="inputCardNr" class="form-control form-control-lg mb-4" placeholder="Enter the card number">#}
                            {{ form.card_number }}
                        </div>
                        <div class="row col-md-10 offset-md-1 fw-bold">
                            <label for="inputExpDate" class="form-label">Expiration date</label>
{#                            <input type="text" id="inputExpDate" class="form-control form-control-lg mb-4" placeholder="Enter the expiration date of the card in 'MM/YYYY' format">#}
                            {{ form.expiration_year}}
                            {{ form.expiration_month}}
                        </div>
                        <div class="row col-md-10 offset-md-1 fw-bold">
                            <label for="inputCvc" class="form-label col-md-6 fw-bold">CVC</label>
                            <!-- <a href="#" class="link-primary col-md-6 text-small text-decoration-none p-0">What's this?</a> -->
{#                            <input type="text" id="inputCvc" class="form-control form-control-lg mb-4" placeholder="Enter the CVC number">#}
                            {{ form.cvc }}
                        </div>
                        <div class="row col-md-10 offset-md-1 mb-4 mt-4">
                            <a href="#" class="btn btn-primary btn-lg" id="order-next-button">
                                Proceed to Review Order
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-circle ms-2 mb-1" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                                  </svg>
                            </a>
                        </div>
                    </div>
                    <div class="row p-0 ms-1">
                        <div class="col-md-4 mb-4 mt-4 p-0">
                            <button class="btn btn-outline-primary" id="order-prev-button">
                                Back
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left-circle ms-2 mb-1" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                                  </svg>
                            </button>
                        </div>
                        <div class="col-md-4 mb-4 mt-4 offset-md-4 text-end me-0 p-0">
                            <a href="../checkout/checkout-contact-info.html" class="btn btn-danger">
                                Cancel order
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x ms-2 mb-1" viewBox="0 0 16 16">
                                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                  </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card col-md-4 mb-0 mt-0" style="max-height: 400px;">
                    <div class="card-header bg-transparent border-warning fs-4 fw-bold">ORDER SUMMARY</div>
                    <div class="card-body">
                        <div class="card bg-light p-2">
                            <p class="card-text mb-2 mt-2 fs-4">{{ cart_info.count }} Product(s)</p>
                            <div class="card-header bg-transparent border-warning"></div>
                            <p class="card-text mb-2 mt-2 fs-4">Delivery: FREE</p>
                            <div class="card-header bg-transparent border-warning"></div>
                            <p class="card-text mb-2 mt-4 fs-4 fw-bold">Total: ${{ cart_info.price }}</p>
                        </div>
                        <p class="card-text mt-3">
                            <small class="text-muted">
                                Lucky you!
                                In the month of May, we are offering free delivery on all of our products.
                                Enjoy your delicious cereal free of worries!
                            </small>
                        </p>
                    </div> <!-- card-body.// -->
                </div> <!-- card.// -->
            </div>
        </div>
    </div>
    <div id="page-3">
        <div class="bg-white p-2 rounded">
            <div class="row">
                <div class="col-md-12">
                    <p class="fs-2">Review order</p>
                </div>
            </div>

            <div class="row row-cols-1 row-cols-md-5 mt-2 g-4">
                <div class="row row-cols-md-1 col-md-8 me-2" id="contact-info-container">
                    <div class="shadow-sm card mb-3 p-2">
                        <div class="card-header bg-transparent border-warning fs-4 fw-bold">Contact Information</div>
                        <div class="row col-md-10 offset-md-1 fw-bold mt-3">
                            <label for="name-readonly" class="form-label">Name</label>
                            <input type="text" id="name-readonly" readonly class="form-control form-control-lg mb-4" value="{{ form.name.value }}">
                        </div>
                        <div class="row col-md-12">
                            <div class="col-md-7 offset-md-1">
                                <label for="streetName-readonly" class="form-label fw-bold ms-3">Street Name</label>
                                <input type="text" id="streetName-readonly" readonly class="form-control form-control-lg mb-4" value="Funville">
                            </div>
                            <div class="col-md-3">
                                <label for="inputPostal" class="form-label fw-bold">House Number</label>
                                <input type="text" id="houseNr-readonly" readonly class="form-control form-control-lg mb-4" value="38">
                            </div>
                        </div>
                        <div class="row col-md-10 offset-md-1 fw-bold">
                            <label for="city-readonly" class="form-label">City</label>
                            <input type="text" id="city-readonly" readonly class="form-control form-control-lg mb-4" value="Flavortown">
                        </div>
                        <div class="row col-md-12">
                            <div class="col-md-5 offset-md-1">
                                <label for="country-readonly" class="form-label fw-bold ms-3">Country</label>
                                <input type="text" id="country-readonly" readonly class="form-control form-control-lg mb-4" value="Iceland">
                            </div>
                            <div class="col-md-5">
                                <label for="postal-readonly" class="form-label fw-bold">Postal Code</label>
                                <input type="text" id="postal-readonly" readonly class="form-control form-control-lg mb-4" value="90210">
                            </div>
                        </div>
                        <div class="card-header bg-transparent border-warning fs-4 fw-bold">Payment Information</div>
                        <div class="row col-md-10 offset-md-1 fw-bold mt-3">
                            <label for="carholderName-readonly" class="form-label">Cardholder Name</label>
                            <input type="text" id="carholderName-readonly" readonly class="form-control form-control-lg mb-4" value="John Johnson">
                        </div>
                        <div class="row col-md-12">
                            <div class="col-md-7 offset-md-1">
                                <label for="cardNr-readonly" class="form-label fw-bold ms-3">Card Number</label>
                                <input type="text" id="cardNr-readonly" readonly class="form-control form-control-lg mb-4" value="4112-2414-8511-4132">
                            </div>
                            <div class="col-md-3">
                                <label for="expDate-readonly" class="form-label fw-bold">Expiration Date</label>
                                <input type="text" id="expDate-readonly" readonly class="form-control form-control-lg mb-4" value="12/2023">
                            </div>
                        </div>
                        <div class="col-md-10 offset-md-1">
                            <label for="cvc-readonly" class="form-label fw-bold ms-3">CVC</label>
                            <input type="text" id="cvc-readonly" readonly class="form-control form-control-lg mb-4" value="201">
                        </div>
                            <div class="row col-md-10 offset-md-1 mb-4 mt-4">
                                <button type="submit" class="btn btn-primary btn-lg">
                                    Place Order
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-circle ms-2 mb-1" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                                    </svg>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="row p-0 ms-1">
                        <div class="col-md-4 mb-4 mt-4 p-0">
                            <button class="btn btn-outline-primary" id="order-prev-button">
                                Back
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left-circle ms-2 mb-1" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                                </svg>
                            </button>
                        </div>
                        <div class="col-md-4 mb-4 mt-4 offset-md-4 text-end me-0 p-0">
                            <a href="#" class="btn btn-danger">
                                Cancel order
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x ms-2 mb-1" viewBox="0 0 16 16">
                                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card col-md-4 mb-0 mt-0" style="max-height: 400px;">
                    <div class="card-header bg-transparent border-warning fs-4 fw-bold">ORDER SUMMARY</div>
                    <div class="card-body">
                        <div class="card bg-light p-2">
                            <p class="card-text mb-2 mt-2 fs-4">{{ cart_info.count }} Product(s)</p>
                            <div class="card-header bg-transparent border-warning"></div>
                            <p class="card-text mb-2 mt-2 fs-4">Delivery: FREE</p>
                            <div class="card-header bg-transparent border-warning"></div>
                            <p class="card-text mb-2 mt-4 fs-4 fw-bold">Total: ${{ cart_info.price }}</p>
                        </div>
                        <p class="card-text mt-3">
                            <small class="text-muted">
                                Lucky you!
                                In the month of May, we are offering free delivery on all of our products.
                                Enjoy your delicious cereal free of worries!
                            </small>
                        </p>
                    </div> <!-- card-body.// -->
                </div> <!-- card.// -->
            </div>
        </div>
    </div>
</main>
<script src="{% static 'js/orderPaginator.js' %}"></script>

{% endblock %}