{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-12 mt-2">
            <p class="fs-2">Search History</p>
        </div>
    <div class="bg-light p-2 rounded">
        <div class="row">
            <div class="col-md-12 mt-0">

            </div>
        </div>
    </div>

    <div class="bg-light p-2 rounded">
        <div class="card-group">
            <div class="shadow-sm card p-2 me-4">

                <div class="card-body text-center">
                    <h5 class="card-title">Products</h5>

                    {% for item in search_history %}
                    <a href="{% url 'product'  item.product.id%}">{{ item.product.name }}</a>

                    {% endfor %}

        </div>
    </div>
</main>

{% endblock %}