{% load static %}
<nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
        <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/logo-black.svg' %}" alt="Ship O'Cereal logo" class="img-fluid" style="max-width: 130px;"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item fs-5">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle fs-5" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Products</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown01">
                <li><a class="dropdown-item" href="{% url 'products' 'cereal' %}">Cereal</a></li>
                <li><a class="dropdown-item" href="{% url 'products' 'merch'  %}">Merchandise</a></li>
                </ul>
            </li>
            <li class="nav-item fs-5">
                <a class="nav-link" href="{% url 'about' %}">About Us</a>
            </li>
            <li class="nav-item fs-5">
                <a class="nav-link" href="{% url 'contact' %}">Contact</a>
            </li>
            </ul>
            <ul class="navbar-nav me-2">
                <li class="nav-item text-decoration-none">
                    <a href="cart.html" class="nav-link">
                        <span class="badge rounded-pill bg-primary">1</span>
                        <img src="../assets/img/shopping_cart.png" alt="Shopping cart" width="32" height="32" class="rounded-circle">
                    </a>
                </li>
            </ul>
            {% if user.is_authenticated %}
            <div class="dropdown text-begin me-4">
            <a href="profile.html" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="../assets/img/profile.png" alt="User" width="32" height="32" class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="{% url 'account' %}">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Sign out</a></li>
            </ul>
            </div>
            {% else %}
                <a href="{% url 'login' %}"><button class="btn btn-primary">Login</button></a>
            {% endif %}
        </div>
        </div>
    </nav>